.importedTranslationFiles div.dt, .importedTranslationFiles label {
    width: 15em;
}
.identifiers div.dt, .identifiers labek {
    width: 13em;
}
.fileIdentifiers div.dt, .fileIdentifiers label {
    width: 17em;
}
.translationFiles div.dt, .translationFiles label {
    width: 15em;
}
