; Top-most EditorConfig file
root = true

[*]
insert_final_newline = true

; 4-column tab indentation
[*.cpp]
indent_style = tab
indent_size = 4

[*.c]
indent_style = tab
indent_size = 4

[*.h]
indent_style = tab
indent_size = 4

[*.py]
indent_style = tab
indent_size = 4

[*.cfg]
indent_style = tab
indent_size = 4
