#include "resource.h"

#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

IDI_ICON1               ICON                    "nevraxpill.ico"
