// *****************************************************************************
// *** Setup for the mini01 entry point Machine
// *****************************************************************************

#include "/srv/core/patchman/patchman_service_base_linux.cfg"
#include "/srv/core/patchman_service_local.cfg"


//--------------------------------------------------------------------------------
// Displayed Variables...

DisplayedVariables +=
{
};


//--------------------------------------------------------------------------------
// Start Commands for configuring modules

StartCommands +=
{
    //------------------------------------------------------------------------------
	// Setup the mini01 hub

	// Create a gateway modul on layer 3 transport and open it
	"moduleManager.createModule StandardGateway hub_mini01",
	"hub_mini01.transportAdd L3Server l3server",
	"hub_mini01.transportCmd l3server(open port=44749)",

	
	//------------------------------------------------------------------------------
	// Setup the bridge hub
	
	// Create a gateway module on layer 3 transport and open it
	"moduleManager.createModule StandardGateway hub_bridge",
	"hub_bridge.transportAdd L3Server l3server",
	"hub_bridge.transportCmd l3server(open port=44745)",


    //------------------------------------------------------------------------------
    // Setup Manager Gateway (for deployment commands)

    // Create a gateway module on layer 3 transport and open it
    "moduleManager.createModule StandardGateway spm_gw",
    "spm_gw.transportAdd L3Client l3client",
    "spm_gw.transportCmd l3client(connect addr=ep1.mini01.ryzomcore.org:44751)",


	//------------------------------------------------------------------------------
	// Setup mini01 Bridge module

	// setup a bridge module to relay files from internal to mini01 networks andd plug it in
	"moduleManager.createModule ServerPatchBridge bridge path=/srv/core/bridge_server/",
	"bridge.plug hub_mini01",
	"bridge.plug hub_bridge",
	"bridge.plug spm_gw",


	//------------------------------------------------------------------------------
	// Setup the PAM module
	"moduleManager.createModule PatchmanAdminModule pam",
	"pam.plug hub_mini01",
	"pam.plug spm_gw",
};

