<html>
<head>
<title>Topic</title>
<meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=UTF-8">
</head>

<body bgcolor="#333333" text="#FFFFFF">
<form method='post' action='remove_post.php'>
<input type='hidden' name='forum' value='%%FORUM_POST%%'>
<input type='hidden' name='thread' value='%%THREAD%%'>
<table width="100%" height="100%">
  <tr> 
    <td valign="top"> 
      <table width="100%">
        <tr> 
          <td valign="top" height="80"> 
            <div align="center"> 
              <table width="100%" cellspacing="8" bgcolor="#000000">
                <tr valign="middle"> 
                  <td width="74%"><h1>%%UCFORUM%%</h1></td>
                  <td width="23%" align="right">%%SUBJECT%%</td>
                </tr>
              </table>
              <table>
                <tr valign="bottom">
                  <td height="27"><a href="forum.php"><img src="web_home.gif" global_color alt="uiWebHome" ></a>
                  <a href="forum.php"><img src="web_back.gif" global_color alt="uiWebBack" ></a></td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
        <tr>
          <td valign="middle"> 
             <table width="100%" valign="middle" cellspacing="2" cellpadding="0" l_margin="4" >
                <tr bgcolor="#000000"> 
				<h4>
                  <td width="3%" height="30" bgcolor="#333333">&nbsp;</td>
                  <td width="20%"><i>uiMFAuthor</i></td>
                  <td width="79%"><i>uiMFMessages</i></td>
				</h4>
%%POSTS%%
			</table>
          </td>
        </tr>
        <tr>
          <td> 
            <table width="100%">
              <tr valign="middle"> 
				<td><a href="%%PREVIOUS%%"><img src="web_previous.gif" global_color alt="uiWebPrevious" ></a></td>
%%LINKS%%
				<td width="100%"><a href="%%NEXT%%"><img src="web_next.gif" global_color alt="uiWebNext" ></a></td>
                <td><input type="image" name="del2" value="Submit" src="web_del.gif" alt="uiWebDelPost" ></td>
                <td><a href="new_post.php?thread=%%THREAD%%&subject=%%SUBJECT%%"><img src="web_post.gif" alt="uiWebNewPost" ></a></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</form>
</body>
</html>
