.box-content {
    background: white;
}

.box-header {
    background-color: white;
}
	
.top-block {
    background-color: white;
}	
	
.row-fluid [class*="span"] {
    min-height: 28px;
}	
	
.login-header
{
	height:190px;
}

.brand img
{
	height:100%;
	margin-bottom:-18px;
	margin-top:-15px;
	width:auto;
}

#for-is-ajax
{
	display:none;
}

.navbar {
    border-bottom: 0px;
}

.flags {
  display: block;
  position:relative;
  left:290px;
  top:28px;
}

.flags_no_visible_elements{
  display: block;
  position:relative;
  left:67%;
  top:210px;
}

.input-prepend .add-on,
.input-append .add-on {
  height: auto;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  height: auto;
}

.btn .caret {
    margin: 10px;
}

.btn .caret {
    border-top-color: #333;
}

.table-bordered {
    border-collapse: collapse;
}

.table {
margin-top: 10px;
}

.nav {
    margin-bottom: 22px;
}

.radio, .checkbox {
    display: table-row-group;
}

.gender-list {
	margin-left: 22px;
	margin-bottom: -20px;
}