#include "common.cfg"

DontUseNS = 1;

RRDToolPath = "rrdtool";
RRDVarPath = "save_shard/rrd_graphs";

// Variables required to be defined by other cfgs
//AESHost="localhost";
//ASWebPort="46700";
//ASPort="46701";

StartCommands +=
{
	// create the admin service module and open the web interface
	"moduleManager.createModule AdminService as webPort="+ASWebPort,

	// create a gateway for aes to connect
	"moduleManager.createModule StandardGateway as_gw",
	// create a layer 3 server
	"as_gw.transportAdd L3Server l3s",
	"as_gw.transportOptions l3s(PeerInvisible)",
	"as_gw.transportCmd l3s(open port="+ASPort+")",

	// plug the as
	"as.plug as_gw",
};
